body{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}
h1, h2, h3, h4, h5{
	font-family: 'Source Serif Pro', serif;
	font-weight: 700;
}
a{
	color: #999;
	font-weight: 600;
}
.jumbotron{
	padding-top: 0px;
}
.emotion{
	height: 660px;
	background-image: url('../img/backgrounds/forest-grass.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
}
.branding{
	height: 90px;
	padding: 20px;
	text-align: right;
	/*background-color: rgba(0,0,0,0.33);*/
	background-image: url('../img/logo.inverse.svg');
	background-position: center right 20px;
	background-repeat: no-repeat;
	background-size: 120px;
}

.message{
	width: 800px;
	margin: auto;
}
.third{
	width: 30%;
	margin-right: 5%;
	float: left;
}
.third:nth-child(3){
	margin-right: 0px;
}

.form-control:focus{
	border-color: #4CAF50;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.input-group-addon{
	cursor: pointer;
}
.input-group-addon:hover{
	background-color: #C8E6C9;
}
.search{
	margin-top: 200px;
}
.search>h2{
	font-size: 2.4em;
	text-align: center;
	color: white;
	font-weight: 400;
	margin-bottom: 10px;
}
.search>h2 span{
	font-weight: 700;
}
.jumbotron input, .form-group, .input-group{
	width: 100% !important;
}

hr{
	clear: both;
}
footer{
	width: 800px;
	margin: auto;
	margin-top: 100px;
	font-family: 'Source Serif Pro', serif;
	font-weight: 400;
	margin-bottom: 20px;
}
footer span{
	font-weight: 700;
}
/*
 * 
 * */
#details h1, #details h2, #details h3, #details h4, #details h5{
	margin: 0px;
}
.label{
	position:relative;
	top:4px;
}
#details .row{
	margin-top: 20px;
	opacity: 0;
	
	-webkit-transition: all 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#details{
	width: 100%;
	height: 0px;
	background-color: #fff;
	margin-top: -6px;
	
	-webkit-transition: all 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#details.hidden{
	height: 0px;
}

#details.results{
	height: 400px;
}
#details.results .row{
	display: block;
	opacity: 1;
}

.search{
	margin-top: 200px;

	-webkit-transition: all 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.search.action{
	margin-top: 0px;
}

/**/
#details div.col-md-12,
#details div.col-md-6,
#details div.col-md-4,
#details div.col-md-3{
	padding-top: 30px;
}
.llabel-name:after{
	content:"Name"; 
	text-transform:upper-case; font-size:0.8em; background-color:#f2ede5; color:#424242;
	padding-left:6px; padding-top:4px; padding-right:4px; padding-bottom:4px;
	border-bottom-right-radius: 6px; position:absolute; top:0px; left:0px;
}

.llabel-id:after{
	content:"ID"; 
	text-transform:upper-case; font-size:0.8em; background-color:#f2ede5; color:#424242;
	padding-left:6px; padding-top:4px; padding-right:4px; padding-bottom:4px;
	border-bottom-right-radius: 6px; position:absolute; top:0px; left:0px;
}

.llabel-standard:after{
	content:"Standard"; 
	text-transform:upper-case; font-size:0.8em; background-color:#f2ede5; color:#424242;
	padding-left:6px; padding-top:4px; padding-right:4px; padding-bottom:4px;
	border-bottom-right-radius: 6px; position:absolute; top:0px; left:0px;
}

.llabel-quantity:after{
	content:"Quantity"; 
	text-transform:upper-case; font-size:0.8em; background-color:#f2ede5; color:#424242;
	padding-left:6px; padding-top:4px; padding-right:4px; padding-bottom:4px;
	border-bottom-right-radius: 6px; position:absolute; top:0px; left:0px;
}

.llabel-vintage:after{
	content:"Vintage"; 
	text-transform:upper-case; font-size:0.8em; background-color:#f2ede5; color:#424242;
	padding-left:6px; padding-top:4px; padding-right:4px; padding-bottom:4px;
	border-bottom-right-radius: 6px; position:absolute; top:0px; left:0px;
}

.llabel-date:after{
	content:"Date"; 
	text-transform:upper-case; font-size:0.8em; background-color:#f2ede5; color:#424242;
	padding-left:6px; padding-top:4px; padding-right:4px; padding-bottom:4px;
	border-bottom-right-radius: 6px; position:absolute; top:0px; left:0px;
}

.llabel-markit:after{
	content:"MarkIt"; 
	text-transform:upper-case; font-size:0.8em; background-color:#f2ede5; color:#424242;
	padding-left:6px; padding-top:4px; padding-right:4px; padding-bottom:4px;
	border-bottom-right-radius: 6px; position:absolute; top:0px; left:0px;
}

.llabel-natureoffice:after{
	content:"natureOffice"; 
	text-transform:upper-case; font-size:0.8em; background-color:#f2ede5; color:#424242;
	padding-left:6px; padding-top:4px; padding-right:4px; padding-bottom:4px;
	border-bottom-right-radius: 6px; position:absolute; top:0px; left:0px;
}

.llabel-cname:after{
	content:"Customer"; 
	text-transform:upper-case; font-size:0.8em; background-color:#f2ede5; color:#424242;
	padding-left:6px; padding-top:4px; padding-right:4px; padding-bottom:4px;
	border-bottom-right-radius: 6px; position:absolute; top:0px; left:0px;
}

.llabel-cusecase:after{
	content:"Use Case"; 
	text-transform:upper-case; font-size:0.8em; background-color:#f2ede5; color:#424242;
	padding-left:6px; padding-top:4px; padding-right:4px; padding-bottom:4px;
	border-bottom-right-radius: 6px; position:absolute; top:0px; left:0px;
}

.llabel-note:after{
	content:"Additional Notes"; 
	text-transform:upper-case; font-size:0.8em; background-color:#f2ede5; color:#424242;
	padding-left:6px; padding-top:4px; padding-right:4px; padding-bottom:4px;
	border-bottom-right-radius: 6px; position:absolute; top:0px; left:0px;
}

/*
#details div.col-md-6:after,
#details div.col-md-3:after{
	content:"Label"; 
	text-transform:upper-case; font-size:0.8em; background-color:#f2ede5; color:#424242;
	padding-left:6px; padding-top:4px; padding-right:4px; padding-bottom:4px;
	border-bottom-right-radius: 6px; position:absolute; top:0px; left:0px;
}
*/