body{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}
h1, h2, h3, h4, h5{
	font-family: 'Source Serif Pro', serif;
	font-weight: 700;
}
.jumbotron{
	padding-top: 0px;
}
.emotion{
	height: 660px;
	background-image: url('../img/backgrounds/forest-grass.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
}
.branding{
	height: 90px;
	padding: 20px;
	text-align: right;
	/*background-color: rgba(0,0,0,0.33);*/
	background-image: url('../img/logo.inverse.svg');
	background-position: center right 20px;
	background-repeat: no-repeat;
	background-size: 120px;
}

.message{
	width: 800px;
	margin: auto;
}
.third{
	width: 30%;
	margin-right: 5%;
	float: left;
}
.third:nth-child(3){
	margin-right: 0px;
}

.form-control:focus{
	border-color: #4CAF50;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.input-group-addon{
	cursor: pointer;
}
.input-group-addon:hover{
	background-color: #C8E6C9;
}
.search{
	margin-top: 200px;
}
.search>h3{
	text-align: center;
	color: white;
	font-weight: 400;
	margin-bottom: 20px;
}
.search>h3 span{
	font-weight: 700;
}
.jumbotron input, .form-group, .input-group{
	width: 100% !important;
}

hr{
	clear: both;
}
footer{
	width: 800px;
	margin: auto;
	margin-top: 100px;
	font-family: 'Source Serif Pro', serif;
	font-weight: 400;
	margin-bottom: 20px;
}
footer span{
	font-weight: 700;
}
/*
 * 
 * */
#details h1, #details h2, #details h3, #details h4, #details h5{
	margin: 0px;
}
.label{
	position:relative;
	top:4px;
}
#details .row{
	margin-top: 20px;
	opacity: 0;
	
	-webkit-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}
#details{
	width: 100%;
	height: 0px;
	background-color: #fff;
	margin-top: -6px;
	
	-webkit-transition: height 1s ease-in-out;
	transition: height 1s ease-in-out;
}
#details.hidden{
	height: 0px;
}

#details.results{
	height: 400px;
}
#details.results .row{
	display: block;
	opacity: 1;
}

.search{
	margin-top: 200px;

	-webkit-transition: margin-top 1s ease-in-out;
	transition: margin-top 1s ease-in-out;
}

.search.action{
	margin-top: 0px;
}

